body {
font: 400 20px/1.5 "Freight-Sans-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;}

strong {
font-weight: 600}

em {
	font-style: italic
}

h1, h2 {
font-family: "Freight-Micro-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;
font-size: 2.6em;
font-weight: 300;
line-height: 1.1;
}

h2 {margin: 1.5em 0 .5em 0;
line-height: 1}

h3 {
	font-variant: small-caps;
	text-transform: uppercase;
	font-size: 1.1em
}

h1, h2, h3, h4, h5, h6 {
color: #50347d
}


a:link, a:visited {
	text-decoration: underline;
	color: inherit
}

/*sections*/
nav#site {
	padding: .5em 0
}


nav#site ul li{
	display: none;
}

nav#site ul li:first-of-type {
display: inline-block;
padding-left: 2em;
font-weight: 900;
background-image: url('../images/chrome/wdlogo.svg');
background-repeat: no-repeat;
background-size: 1em;
padding-left: 2.5em;
background-position: 1em 50%}

nav#site ul li a:link, nav#site ul li a:visited {
	color: inherit;
	text-decoration: none;
}


.past {
color: #676767}

.current {
color: #50347d}

/*header*/

body > header {
/* background-color: #50347d;*/
padding-bottom: 2em;
background-image: url('../images/chrome/header-gradient.jpg');
background-repeat: no-repeat;
background-size: cover 
}

header h1 {
font-size: 11em;
font-size: 36vw;
color: #fff;
text-align: center;
font-weight: 100}

header h1:after {
content: " ";
width: 20px;
height: 20px;
width: 1.2vw;
height: 1.2vw;
display: inline-block;
background-color: red;
margin-left: .05em}

header h2 {
font-size: 2.2em;
font-size: 8vw;
color: #fff;
text-align: center;
font-family: "Freight-Sans-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;
line-height: 1.1;
margin-top: 1em;
margin-bottom:0
}

header h2 strong {
font-weight: 900}

header h3 {
font-size: 1.3em;
font-size: 5vw;
color: #fff;
text-align: center;
font-family: "Freight-Sans-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;
font-weight: 100;

}

/*page nav*/

nav.page {
	padding: .5em 8% 1em 8%;
	width: 84%;
	background-color: #fff;
	z-index: 10
}

nav.page li {
display: inline-block;
width: 30%;
text-align: right}

nav.page li:first-child {
text-align: left;
}

nav.page a:link, nav.page a:visited {
	text-decoration: none;
	color: #000;
	font-weight: 500
}

nav.page li:first-of-type a:link {
	color: #50347d;
	font-family: "Freight-Micro-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;
	font-size: 1.7em;
	font-weight: 100
}

/*nav.page li:first-of-type a:after {
content: " ";
width: 6px;
height: 6px;
width: .8vw;
height: .8vw;
display: inline-block;
background-color: red;
margin-left: .05em}*/


nav.page li:nth-of-type(2), nav.page li:nth-of-type(4) {
	display: none
}

nav.page li:last-of-type a:link, nav.page li:last-of-type a:visited {
	color: #50347d;
}

/*need page navigation to be sticky*/


/*main*/

.part, #speakers {
padding-left: 8%;
padding-right: 8%;
overflow: hidden;
clear: both}

.part p, .part ul {
margin-bottom: 1em}

/*overview*/

#overview h2 {
	color: #50347d;
	font-family: "Freight-Sans-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;
	font-size: 1.8em;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 1em;
	float: left
}

#overview h3 {
font-size: .9em;
color: #50347d;
margin-top: 1.2em;
}

#overview li:before {
	content: '–'
}


/*speakers*/

.previous, .next, .closebox {
	display: none
}

.links li{
	display: inline-block;
	padding-right: 1.2em;
	margin-top: .5em
}

.links img {
	width: 1.2em
}

.summary, .tags {
	display: none
}

.abstract p:last-of-type {
	display: none
}

#speakers h4 {
	font-family: "Freight-Micro-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;
	font-size: 1.6em;
	margin-top: 1em;
	line-height: 1.1;
	clear: both
}

.bio > img {
	width: 30%;
	float: right;
	margin: 2%
}

.bio {
	margin-top: 1.4em
}

/*register*/

#register {
	margin-top: 2em
}

#register table {
	display: none
}

#register h2 {
	line-height: .9;
	margin-bottom: .4em;
	text-align: left
}

#pricing-brief {text-align: center}

#pricing-brief h3 {
	
	font-family: "Freight-Micro-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;
	font-size: 2em;
}

#pricing-brief h3:nth-of-type(1) {
		color: #dc982c;
}

#pricing-brief h3:nth-of-type(2) {
		color: #5c5f71;
}

#pricing-brief h3:nth-of-type(3) {
		color: #4f7c62;
}

#pricing-brief h4{
	font-variant: small-caps;
	text-transform: uppercase;
	color: #6767676
}

#pricing-brief li.current {
	
}

#register a:link, #register a:visited {
	text-decoration: none;
	display: inline-block;
	padding: .2em .5em;
	text-transform: uppercase;
	font-variant: small-caps;
	font-weight: 400;
	border-radius: 3px;
	color: #fff
}

#register p:nth-of-type(1) a:link, #register p:nth-of-type(1) a:visited {
		background-color: #dc982c;

}
#register p:nth-of-type(2) a:link, #register p:nth-of-type(2) a:visited {
		background-color: #5c5f71;

}
#register p:nth-of-type(3) a:link, #register p:nth-of-type(3) a:visited {
		background-color: #4f7c62;

}

#register .current {
font-size: 1.2em;
font-weight: 400;
color: #000}

#register .price {
	font-size: 1.3em;
	font-weight: 500
} 


/*workshop*/

#workshop h2 {
	line-height: 1.1;
	margin: .5em 0
}

#workshop img {
	width: 30%;
	margin: 2%;
	float: right
}

#workshop-details a:link, #workshop-details a:visited {
	text-decoration: none;
	background-color: #a799be;
	color: #fff;
	font-variant: small-caps;
	text-transform: uppercase;
	font-size: .9em;
	padding: .4em .4em;
	display: inline-block;
}

/*pricing-more*/

#pricing-more h2, #pricing-more h3, #pricing-more strong  {
	color: #e50252
}

/*venue*/

/*partners*/

#partners {
	margin-bottom: 2em;
}

.major-partner img {
	width: 70%
}

.exhibitor img {
	width: 40%
}

#our-partners h3 {
	font-variant: small-caps;
	text-transform: uppercase;
	font-size: .9em;
	color: #676767;
	margin-bottom: .6em
}

.community-partner {
	width: 25%;
	float: left;
	margin-right: 5%
}

.community-partner img {
	width: 100%
}

/*code of conduct*/

#code {
	background-color: #3E236A;
	color: #fff;
	padding: 2em 15%;
	text-align: center
}

#code h2 {
	color: #fff}

/*footer*/

footer {
	font-size: .9em;
	color: #999;
	background-color: #202020;
	width: 84%;
	padding: 3em 8% 0 8%;
	overflow: hidden;
	text-align: center
}


footer h3 {
	font-variant: small-caps;
	text-transform: uppercase;
	font-size: inherit;
	font-weight: 500;
	color: #999;
	margin-top: 1em
}

footer > p {
	clear: both;
	width: 50%;
	padding: 0 25%;
	margin-bottom: 2em;
	text-align: center
}