body {
font: 400 16px/1.5 "Freight-Sans-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;}

strong {
font-weight: 600}

h1, h2 {
font-family: "Freight-Micro-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;
font-size: 56px;
font-weight: 300
}

h1, h2, h3, h4, h5, h6 {
color: #50347d
}

nav#site {
	padding: 1em 0
}


nav#site ul li{
	display: inline-block;
	width: auto;
	margin-right: 1em;
	font-weight: 500

}

nav#site ul li:first-of-type {
width: 50%;
padding-left: 2em;
font-weight: 900}

nav#site ul li a:link, nav#site ul li a:visited {
	color: inherit;
	text-decoration: none;
}

.past {
color: #676767}

.current {
color: #50347d}

/*header*/

body > header {
background-color: #50347d;
padding-bottom: 4em
}

header h1 {
font-size: 10em;
font-size: 24vw;
color: #fff;
text-align: center;
font-weight: 100}

header h1:after {
content: " ";
width: 20px;
height: 20px;
width: 1.2vw;
height: 1.2vw;
display: inline-block;
background-color: red;
margin-left: .05em}

header h2 {
font-size: 2.2em;
font-size: 3vw;
color: #fff;
text-align: center;
font-family: "Freight-Sans-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif
}

header h2 strong {
font-weight: 900}

header h3 {
font-size: 1.3em;
font-size: 1.8vw;
color: #fff;
text-align: center;
font-family: "Freight-Sans-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;
font-weight: 100;

}

/*page nav*/

nav.page {
	padding: .5em 8% 1em 8%;
	width: 84%;
	background-color: #fff
}

nav.page li {
display: inline-block;
width: 8%;
text-align: right}

nav.page li:first-child {width: 60%;
text-align: left}

nav.page a:link, nav.page a:visited {
	text-decoration: none;
	color: #000;
	font-weight: 500
}

nav.page li:first-of-type a:link {
	color: #50347d;
		font-family: "Freight-Micro-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;
	font-size: 2.6em;
	font-weight: 100
}

nav.page li:first-of-type a:after {
content: " ";
width: 6px;
height: 6px;
width: .4vw;
height: .4vw;
display: inline-block;
background-color: red;
margin-left: .05em}


nav.page li:last-of-type a:link, nav.page li:last-of-type a:visited {
	color: #50347d;
}

/*need page navigation to be sticky*/


/*main*/

.part {
padding-left: 8%;
padding-right: 8%;
overflow: auto}

.part p, .part ul {
margin-bottom: 1em}

/* overview */

#overview { padding-bottom: 6em}

#overview h2 {
	color: #50347d;
	font-family: "Freight-Sans-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;
	font-size: 1.8em;
	font-weight: 100;
	line-height: 1;
	width: 52%;
	padding-right: 6%;
	margin-bottom: 1em;
	float: left
}

#overview h3 {
font-size: .9em;
color: #50347d
margin-top: 2.6em}

#overview > p:first-of-type {
	width: 52%;
	padding-right: 6%;
font-size: 1.25em;
line-height: 1.2;
	float: left

}

#overview section:nth-of-type(odd) {
	width: 52%;
	padding-right: 6%;
margin-top: 2.2em;
float: left}

#overview section:nth-of-type(even) {
	width: 38%;
margin-top: 2.2em;
float: right;
font-size: .9em;
color: #676767}

#overview section:nth-of-type(even) h3 { 
font-variant: small-caps;
text-transform: uppercase;
color: #676767}

#overview li:before {
	content: '–'
}

/*speakers*/

#speakers {
	background-color: #50347d;
}

#speakers > h2, #speakers > p {
	color: #fff;
	text-align: center;
		padding-left: 24%;
	width: 54%

}

#speakers > p {
margin-bottom: 1em
}

.description {
	display: none
}

.session {
	display: inline-block;
	width: 33%;
}

.session img {
width: 100%}

.session .summary {
	position: relative;
}

.session .title {
display: inline;
position: absolute;
bottom: 15%;
left: 5%;
background-color: #fff;
color: #e50252;
font-size: 1.2em;
width: 85%;
margin: 0 auto;
font-size: 1.3em;
background-attachment: scroll;
background-clip: border-box;
background-image: none;
background-origin: padding-box;
}

.session .name {
display: inline-block;
position: absolute;
bottom: 2%;
left: 5%;
background-color: #000;
color: #fff;
font-size: 1.2em;
width: 85%;
margin: 0 auto;
font-family: "Freight-Micro-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;
font-weight: 100}


/*pricing*/

#register h2 {
	font-size: 3em;
	line-height: 1
}

#register td {
width: 23.3%;
vertical-align: top
}

#register td:first-of-type {
	width: 30%
}