body {
font: 400 16px/1.5 "Freight-Sans-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;}

strong {
font-weight: 600}

em {
	font-style: italic
}

h1, h2 {
font-family: "Freight-Micro-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;
font-size: 56px;
font-weight: 300
}

h1, h2, h3, h4, h5, h6 {
color: #50347d
}


a:link, a:visited {
	text-decoration: underline;
	color: inherit
}

/*sections*/
nav#site {
	padding: .4em 0
}


nav#site ul li{
	display: inline-block;
	width: auto;
	margin-right: 1em;
	font-weight: 500
}

nav#site ul li:first-of-type {
width: 50%;
font-weight: 900;
background-image: url('../images/chrome/wdlogo.svg');
background-repeat: no-repeat;
background-size: 1em;
padding-left: 2.5em;
background-position: 1em 50%;
margin-left: 1em}

nav#site ul li a:link, nav#site ul li a:visited {
	color: inherit;
	text-decoration: none;
}


.past {
color: #676767}

nav#site ul li.current {
color: #50347d;
font-weight: 600;
position: relative
}

nav#site ul li.current:after {
	width: .8em;
	height: .8em;
	background-color: #fff;
	position: absolute;
	top: 100%;
	left: 2em;
	z-index: 10;
	left: 0;
	content: ' ';
	-webkit-transform: translateX(10px) rotate(45deg)
}

/*header*/

body > header {
/* background-color: #50347d;*/
padding-top: 4em;
padding-bottom: 4em;
background-image: url('../images/chrome/header-gradient.jpg');
background-repeat: no-repeat;
background-size: 100% auto 
}

header h1 {
font-size: 10em;
font-size: 24vw;
color: #fff;
text-align: center;
font-weight: 100;
line-height: 1;}

header h1:after {
content: " ";
width: 20px;
height: 20px;
width: 1.4vw;
height: 1.4vw;
display: inline-block;
background-color: #DF003F;
margin-top: .5%;
margin-left: .5%}

header h2 {
font-size: 2.2em;
font-size: 3vw;
color: #fff;
text-align: center;
font-family: "Freight-Sans-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;
line-height: 1
}

header h2 strong {
font-weight: 900}

header h3 {
font-size: 1.3em;
font-size: 1.8vw;
color: #fff;
text-align: center;
font-family: "Freight-Sans-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;
font-weight: 100;
line-height: 1.1
}

/*page nav*/

nav.page {
	padding: .6em 8% 1.5em 8%;
	width: 84%;
	background-color: #fff;
	z-index: 10
}

nav.page li {
display: inline-block;
width: 9%;
text-align: right}

nav.page li:first-child {width: 60%;
text-align: left;
}

nav.page a:link, nav.page a:visited {
	text-decoration: none;
	color: #000;
	font-weight: 600;
	font-size: 1.1em
}

nav.page li:first-of-type a:link {
	color: #50347d;
		font-family: "Freight-Micro-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;
	font-size: 2.6em;
	font-weight: 100
}

nav.page li:first-of-type a:after {
content: " ";
width: 6px;
height: 6px;
width: .4vw;
height: .4vw;
display: inline-block;
background-color: #DF003F;
margin-top: .75%;
margin-left: .25%}



nav.page li:last-of-type a:link, nav.page li:last-of-type a:visited {
	color: #50347d;
}

/*need page navigation to be sticky*/


/*main*/

main {
	font-size: 1.1em
}

.part {
padding-left: 8%;
padding-right: 8%;
overflow: hidden;
clear: both}

.part p, .part ul {
margin-bottom: 1em}

/* overview */

#overview { padding-bottom: 14em}

#overview h2 {
	color: #50347d;
	font-family: "Freight-Sans-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;
	font-size: 1.8em;
	font-weight: 600;
	line-height: 1;
	width: 52%;
	padding-right: 6%;
	margin-bottom: 1em;
	float: left
}

#overview h3 {
font-size: .9em;
color: #50347d;
margin-top: .4em}

#overview > p:first-of-type {
	width: 52%;
	padding-right: 6%;
font-size: 1.25em;
line-height: 1.2;
	float: left

}

#overview section:nth-of-type(odd) {
	width: 52%;
	padding-right: 6%;
margin-top: 1em;
float: left}

#overview section:nth-of-type(even) {
	width: 38%;
margin-top: 1em;
float: right;
font-size: .9em;
color: #676767;
}

#overview section:nth-of-type(even) h3 { 
font-variant: small-caps;
text-transform: uppercase;
color: #676767}

#overview li:before {
	content: '–'
}

/*speakers*/

#speakers {
	background-color: #50347d;
	overflow: auto;
	padding-top: 1.6em
}

#speakers > h2, #speakers > p {
	color: #fff;
	text-align: center;
	padding-left: 24%;
	width: 54%;
}

#speakers h2 {
	font-size: 3em; 
}

#speakers > p {
margin-bottom: 1.2em;
font-size: .9em
}

#speakers > p:last-of-type {
margin-bottom: 2.4em;	
}


.session:nth-of-type(1), .session:nth-of-type(2), .session:nth-of-type(3) {
	display: block;
	width: 33.33%;
	float: left;
}

.session {
	display: block;
	width: 20%;
	float: left;
	background-color: #50347d}

.session img {
width: 100%}

.session {
	position: relative;
}


.session .title {
position: absolute;
bottom: 15%;
left: 5%;
width: 95%;
margin: 0 auto;
font-size: 1em;
font-size: 1.5vw;
line-height: 1.5
}


.session:nth-of-type(1) .title, .session:nth-of-type(2) .title, .session:nth-of-type(3) .title{
/* display: inline;*/
font-size: 1.5em;
font-size: 2.3vw;
width: 85%;
}

.title span {
	background-color: #fff;
	color: #e50252;
	background-attachment: scroll;
	background-clip: border-box;
	background-origin: padding-box;
	padding: 0 .2em
}

.session .name {
display: inline-block;
position: absolute;
bottom: 4%;
left: 5%;
color: #fff;
width: 85%;
margin: 0 auto;
font-family: "Freight-Micro-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;
font-weight: 100;
font-size: .9em;
font-size: 1.1vw;
}

.session .name span {
	background-color: #000;
	padding: 0 2%
	
}

.session:nth-of-type(1) .name, .session:nth-of-type(2) .name, .session:nth-of-type(3) .name{
display: inline;
font-size: 1.1em;
font-size: 1.6vw;
width: 85%;
}

#speakers #sessions + h2 {
	color: #fff;
	margin: 10.5em 0 1.5em 8%;
	width: 27%;
	line-height: 1;
	text-align: left;
	padding: 0 ;
	float: left
}

.speakers-more {
	color: #fff;
	width: 80%;
}

.description {
	opacity: 0;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity: .3s;
	transition: opacity .3s;
	background-color: rgba(0, 0, 0, .7);
	padding: 2%;
	z-index: 10;
	pointer-events: none;
}

.description.showing {
	opacity: 1;
	z-index: 10;
	pointer-events: all
}

.lightbox {
	background-color: #fff;
	overflow: visible;
	margin: 5% 15%;
	height: 80%;
	padding: 1%;
	position: relative
}

.previous, .next {
	position: fixed;
	top: 44%;
	font-size: 3em;
	color: #fff;
	width: 3%
}

.previous {
	left: 11%
}

.next {
	left: 90%
}

.closebox {
	position: absolute;
	top: -2em;
	background-color: #fff;
	height: 2em;
	right: 2em;
	z-index: 12;
	padding: .2em 1em .2em 2em;
	text-transform: uppercase;
	font-variant: small-caps;
	color: #50347d;
	font-size: .9em;
	font-weight: 600;
	background-image: url('../images/chrome/cross.svg');
	background-position: 10% 35%;
	background-repeat: no-repeat;
	background-size: auto 40%;
	cursor: pointer
}


.description h4 {
	color: #e50252;
	font-weight: 600;
	font-size: 1.5em;
	line-height: 1.1;
	margin-bottom: .2em
}

.tags {
display: none}

.description p {
	margin-bottom: .3em
}


.abstract {
	width: 56%;
	float: left;
	margin-right: 4%;
	margin-bottom: .2em
}

.abstract p:last-of-type {margin-top: 1.5em}

.abstract a:link, .abstract a:visited {
	font-size: .9em;
	color: #50347d
} 

.bio {
	width: 38%;
	float: right;
	font-size: .9em;
}

.links li{
	display: inline-block;
	padding-right: 1.2em;
	margin-top: .5em
}

.links img {
	width: 1.2em
}

/*pricing*/

#register {
margin-top: 3.5em;
font-size: .9em
}


#register h2 {
	font-size: 2.9em;
	line-height: .96
}

#register table {
	border-collapse: separate;
  	border-spacing: 20px 0;
  	width: 100%

}

#register td:nth-of-type(2) {
		border-collapse: separate;
	  	border-spacing: 50px 0;

}

#register td {
width: 23.3%;
vertical-align: top;
text-align: center;
border-top: 1px solid #dedede;
padding-top: 1.5%
}

#register tr:first-of-type td {
	padding-top: 3%
}


#register tr:first-of-type td:nth-of-type(1) {
	border-top: solid .2em rgb(215, 219, 226)
}

#register tr:first-of-type td:nth-of-type(2) {
	border-top: solid .2em #dc982c
}

#register tr:first-of-type td:nth-of-type(3) {
	border-top: solid .2em #5c5f71
}

#register tr:first-of-type td:nth-of-type(4) {
	border-top: solid .2em #4f7c62
}

#register h3 {
	font-weight: 600;
	font-size: 1.7em;
	margin-bottom: .2em;
}

#register p {
	line-height: 1.25
}

#register td:nth-of-type(2) h3 {
	color: #dc982c
}

#register td:nth-of-type(3) h3 {
	color: #5c5f71
}

#register td:nth-of-type(4) h3 {
	color: #4f7c62
}

#register td:nth-last-child(4) {
	width: 30%;
	text-align: left
}

#register td:nth-last-child(4) > h2 {
	width: 90%
}

#register td:nth-last-child(4) {
		font-size: .9em

}

#register h4 {
	color: 67675
	text-transform: uppercase;
	font-variant: small-caps;
	font-weight: 600
}


#register td h4 {
	text-transform: uppercase;
	font-variant: small-caps;
	font-weight: 600;
	font-size: .9em;
	color: #676767;
	margin-bottom: .2em
}

#register td:nth-last-child(4) > h4 span {
	color: #999
}


#register td:nth-last-child(4) > * {
	width: 70%
}

#register td {

	min-height: 1.4em

}

#register td img {
	width: 1.4em
}

#register ul + ul + ul {margin-top: 2em}

.more-info {
font-weight: 100;
}

#register td a:link, #register td a:visited {
	text-decoration: none;
	display: inline-block;
	padding: .2em .8em;
	text-transform: uppercase;
	font-variant: small-caps;
	font-weight: 500;
	border-radius: 2px;
	color: #fff;
	font-size: .95em
}

#register td:nth-of-type(2) a:link, #register td:nth-of-type(2) a:visited {
		background-color: #dc982c;

}
#register td:nth-of-type(3) a:link, #register td:nth-of-type(3) a:visited {
		background-color: #5c5f71;

}
#register td:nth-of-type(4) a:link, #register td:nth-of-type(4) a:visited {
		background-color: #4f7c62;

}

#register .current {
font-size: 1.1em;
font-weight: 600;
	color: #404040}
	
#register .current strong {
	font-size: 1.2em
}

#register .price {
	font-size: 1.3em;
	font-weight: 500
} 

#register .prices {
	color: #676767
}

#register li {
	margin: -.2em 0 0 0;
	padding: 0 
}

#register tr:nth-of-type(5) td, #register tr:last-of-type td {
	border: none
}

/*workshop*/

#workshop {
	margin-top: 4em;

}

#workshop h2 {
margin-left: 0;
margin-right: 20px;
padding-top: 20px;
width: 30%;
float: left;
line-height: 1;
font-size: 2.7em;
font-size: 4vw;
border-top: solid  rgb(215, 219, 226) 4px
}

#workshop-details {width: 67%;
float: left;
border-top: solid  rgb(215, 219, 226) 4px;
padding-top: 16px;
font-size: .9em;
color: #676767}


#workshop-details img {
	width: 20%;
	float: right;
	margin-left: 4%
}

#workshop-takeaways {width: 30%;
float: right}

#workshop-details a:link, #workshop-details a:visited {
	text-decoration: none;
	background-color: #a799be;
	color: #fff;
	font-variant: small-caps;
	text-transform: uppercase;
	font-size: .9em;
	padding: .4em .4em;
	display: inline-block;
	margin: .5em 0
} 

#workshop-learnings {
	width: 58%;
	float: left;
	margin-right: 6%;
}

#workshop-takeaways {
	width: 34%;
	float: left;
}

#workshop h3 {
	font-variant: small-caps;
	text-transform: uppercase;
	font-size: .9em;
	color: #404040
}

/*pricing more*/

#pricing-more {
	margin-top: 3em;
}

#pricing-more > section{
	font-size: .9em;
	color: #676767
}
#pricing-more h2 {
	margin-left: 0;
	margin-right: 20px;
	padding-top: 20px;
	width: 30%;
	float: left;
	line-height: 1;
	font-size: 2.7em;
	font-size: 4vw;
	border-top: solid  #e50252 4px	;
	color:#e50252
}

#register .more-info {
	display: none
}

#pricing-teams, #pricing-eofy {
	width: 32%;
	float: left;
	padding-top: 20px;
	border-top: solid  #e50252 4px;
}

#pricing-eofy {
	margin-left: 3%
}

#pricing-more h3 {
	font-family: "Freight-Micro-Pro", "Helvetica Neue",  Helvetica, Arial,  sans-serif;
	font-size: 1.6em;
	color: #e50252;
		padding-bottom: 1em;
}

#pricing-more  li:before {
	content: '–'
}

#pricing-more  li {
	line-height: 1.25;
	margin-bottom: 1em
}


#pricing-more strong {
	font-variant: small-caps;
	text-transform: uppercase;
	font-size: .9em;
	color: #e50252
}

#pricing-brief {
	display: none
}

/*venue*/

#venue {
	background-image: url('../images/chrome/venue.jpg');
	background-size: cover ;
	background-repeat: no-repeat;
	background-color: #1d4fa8;
	padding: 3em 8%
}


#venue > * {
	width: 46%;
	color: #fff
}

#venue p {
		font-size: .9em;
}

#venue h3 {
	font-variant: small-caps;
	text-transform: uppercase;
	font-weight: 500;
	font-size: .75em;
	line-height: 1.1
}

#venue h3 + p {
	margin-top: 0
}
/*about*/

#about {	
	margin-top: 3em;
}

#aboutus {
	width:60%;
	float: left
}

#johnallsopp {
	width:38%;
	float: right;
	font-size: .9em
}

#johnallsopp h3 {
	font-variant: small-caps;
	text-transform: uppercase;
	font-size: .9em;
	color: #676767
}

/*partners*/

#our-partners img {
	width: 100%
}

#partner-details {
	width: 26%;
	float: left
}

#our-partners {
	width: 70%;
	float: right;
	margin-bottom: 4em
}

#our-partners .major-partner img {
	width: 50%
}

#our-partners h3 {
	font-variant: small-caps;
	text-transform: uppercase;
	font-size: .9em;
	color: #676767;
	margin-bottom: .6em
}

.community-partner {
	width: 16%;
	float: left;
	margin-right: 13%
}


/*code of conduct*/

#code {
	background-color: #3E236A;
	color: #fff;
	padding: 2em 25%;
	text-align: center
}

#code h2 {
	color: #fff}

/*footer*/

footer {
	font-size: .9em;
	color: #999;
	background-color: #202020;
	width: 84%;
	padding: 3em 8% 0 8%;
	overflow: hidden
}

footer #credits {
	float: none;
	width: 50%;
	padding: 0 25%;
	margin-bottom: 6em;
	text-align: center
}

footer > section {

}

footer > section:nth-of-type(2), footer > section:nth-of-type(3) {
	width: 25%;
	float: left
}

footer > section:nth-of-type(3) {
	float: right;
	margin-bottom: 6em
}

footer h3 {
	font-variant: small-caps;
	text-transform: uppercase;
	font-size: inherit;
	font-weight: 500;
	color: #999
}

footer > p {
	clear: both;
	width: 50%;
	padding: 0 25%;
	margin-bottom: 2em;
	text-align: center
}
